.head {
    color: #FFFFFF;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--border-cabecera-mobile);

    position: absolute;
}

.head__logo {
    margin-bottom: 1rem;
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-family: var(--open-sans);
    font-size: 17px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 0.7rem;
    margin-left: .7rem;
}
.head__enlace a:hover{
    padding-bottom: 0.3rem;
    border-bottom: 2px solid var(--border-cabecera-mobile);
}
/* font-family: 'Montserrat', sans-serif; */
/*  */

@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}